# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\maktab_sharif\python_project_git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
